.container {
  display: block;
  position: absolute;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  height: 100%;

  .chart_container {
    position: relative;
    display: inline-block;
    width: 45%;
    &.left {
      float: left;
      left: 4%;
    }

    &.right {
      float: right;
      right: 4%;
    }
  }
}